{% assign lang = page.lang | default: site.default_lang %}
{% assign t = site.data.translations[lang] %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% include styles.html %}

    {% seo %}

    {% include meta.html %}

    {% include analytics.html %}
       
    <div class="site-header">
        <h1>{{ t.site.title }}</h1>
        <p>{{ t.site.description }}</p>

    </div>
   
    <nav class="navbar">
        <li class="nav-item">
            <a href="{% if lang == 'zh' %}/zh/{% endif %}/">{{ t.nav.work }}</a>
        </li>
        <li class="nav-item">
            <a href="{% if lang == 'zh' %}/zh{% endif %}/about">{{ t.nav.about }}</a>
        </li>
        <li class="nav-item">
            <a href="{% if lang == 'zh' %}/zh{% endif %}/contact">{{ t.nav.contact }}</a>
        </li>
        <li class="nav-item">
            <a href="{% if lang == 'zh' %}/zh{% endif %}/archive">{{ t.nav.archive }}</a>
        </li>
    </nav>

</head>