<header class="site-header">
  <a class="site-title" href="{{ site.baseurl }}/">

    <h1 class="header-heading">{{ site.title }}</h1>

    <video id="headerContent" autoplay muted loop controls>
      <source src="/assets/Small-Reel.mp4" type="video/mp4">
    </video>

    <br>

    <nav class="navbar">
      <ul>
        <li class="nav-item"><a href="{{ site.baseurl }}/">work</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
        <li class="nav-item"><a href="{{ site.baseurl }}/archive/">archive</a></li>
        <!-- <li class="nav-item"><a href="{{ site.baseurl }}/archive/">archive</a></li> -->
      </ul>
    </nav>

    {% if page.title != "About" %}
    <p style="text-align: center;">Welcome to Yiting's playground where I focus on AR/VR, web, and music. I am a
      creative technologist designing experiences to foster meaningful interactions through AR/VR, music, and
      performance, currently in NYC. </p>
    {% endif %}

    <br>


</header>