<link rel="shortcut icon" href="{{ 'assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
<link rel="icon" href="{{ 'assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
<meta name="referrer" content="no-referrer">

<!-- {% if page.id == "index" %}
   
<meta property="og:url" content="{{site.url}}" />
<meta property="og:image" content="{{site.image}}" />
<meta property="og:height" content="{{site.height}}" />
<meta property="og:width" content="{{site.width}}" />
<meta property="og:type" content="website" />
{% endif %} -->
