<div class="items">
    {% assign language_posts = '' | split: '' %}
    
    {% if page.url contains '/zh/' %}
        {% for post in site.posts %}
            {% if post.lang == 'zh' %}
                {% assign language_posts = language_posts | push: post %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for post in site.posts %}
            {% if post.lang == 'en' %}
                {% assign language_posts = language_posts | push: post %}
            {% endif %}
        {% endfor %}
    {% endif %}
<!--     
    <div style="background: #f0f0f0; padding: 10px;">
        Number of posts to display: {{ language_posts.size }}
    </div> -->
    
    {% for post in language_posts limit:5 %}
        <div class="column item" data-tags="{{ post.tags | join: ' ' }}">
            <div class="preview-panel">
                <a href="{{ post.url }}">
                    <img class="post-img" src="{{ post.preview }}" alt="Preview">
                    <div class="post-title">
                        <h3>{{ post.title }}</h3>
                    </div>
                </a>
                <div class="post-description">{{ post.description }}</div>
            </div>
        </div>
    {% endfor %}
</div>