{% if page.title != "Archive" and page.title != "About" %}
<h2>XR Developer and Creative Technologist: Bringing Experiences to Life with AR, VR, and AI</h2>
<p>With a background in XR development and creative tech, I create interactive experiences that blend art and technology. My work ranges from VR mental health tools to AI-driven music video generation, always focusing on meaningful and memorable experiences. </p>
{% elsif page.title == "Archive" %}
<p>Welcome to the collections of my past projects that emphasize my capabilties in AR,
    VR, & Immersive Installations! </p>
{% endif %}

<div class="items">
    {% for post in site.posts limit:5 %}
    <div class="column item" data-tags="{{ post.tags | join: ' ' }}">
        <div class="preview-panel">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="post-img" src="{{ post.preview }}" alt="Preview">
                <div class="post-title">
                    <h3>{{ post.title }}</h3>
                </div>
            </a>
            <div class="post-description">{{ post.description }}</div>
        </div>
    </div>
    {% endfor %}
</div>
