---
layout: post
---
{% for post in site.posts %}
    {% cycle 'add row' : '<div class="row">', '' %}
            <div class=" column" >
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="post-img" src="{{ post.preview }}" >
                <a href="{{ post.url | prepend: site.baseurl }}"><div class="post-title" > <h3>{{ post.title }}</h3></div> </a>
                <div class="post-description">{{post.description}}</div>
           </div>
        </div>
{% cycle 'end row' : '',  '</div>' %}
{% endfor %}
{% cycle 'end row' : '</div>', '</div>' %}

<div class="post">
  <div class="post-nav">
 
    {% if page.previous.url %}
    <a class="nav-item" href="{{ page.previous.url | prepend: site.baseurl }}"> &laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
    <a class="nav-item" href="{{ page.next.url | prepend: site.baseurl }}"> {{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}

  </article>




</div>