---
layout: post
---
<p>Welcome to the collections of my past projects that emphasize my capabilties in XR, Web & Immersive Installations! </p>

<button class="filter-button" data-filter="all">Show All</button>

{% for tag in site.tags %}
<button class="filter-button" data-filter="{{ tag[0] }}">{{ tag[0] }}</button>
{% endfor %}



<div class="items">
    {% for post in site.posts %}
    <div class="column item" data-tags="{{ post.tags | join: ' ' }}">
        <div class="preview-panel">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="post-img" src="{{ post.preview }}" alt="Preview">
                <div class="post-title">
                    <h3>{{ post.title }}</h3>
                </div>
            </a>
            <div class="post-description">{{ post.description }}</div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- {% for post in site.posts %}
<div class="item" data-tags="{{ post.tags | join: ' ' }}">
    <div class="post-title">
        <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    </div>
</div>
{% endfor %}
 -->

 <!-- --- this has an issue of displaying only one side ---- -->
<!-- <div id="items">
    {% assign posts_per_row = 2 %}
    {% for post in site.posts %}
    {% if forloop.index0 == 0 or forloop.index0 | modulo: posts_per_row == 0 %}
    <div class="row">
        {% endif %}
        <div class="item column" data-tags="{{ post.tags | join: ' ' }}">
            <div class="preview-panel">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <img class="post-img" src="{{ post.preview }}">
                </a>
                <div class="post-title">
                    <h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                </div>
                <div class="post-description">{{ post.description }}</div>
            </div>
        </div>

        {% if forloop.index | modulo: posts_per_row == 0 or forloop.last %}
    </div> 
    {% endif %}
    {% endfor %}
</div>-->


<!-- 
<div id="items">
    {% for post in site.posts %}
    <div class="item" data-tags="{{ post.tags | map: 'handle' | join: ' ' }}">
        {% cycle 'add row' : '<div class="row">', '' %}
            <div class=" column">
                <div class="preview-panel">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <img class="post-img" src="{{ post.preview }}">
                        <a href="{{ post.url | prepend: site.baseurl }}">
                            <div class="post-title">
                                <h3>{{ post.title }}</h3>
                            </div>
                        </a>
                        <div class="post-description">{{post.description}}</div>
                </div>
            </div>
            {% cycle 'end row' : '', '
        </div>' %}
        {% endfor %}
        {% cycle 'end row' : '</div>', '</div>' %}
    </div>
</div> -->