---
layout: post
---
<p>Welcome to the collections of my past projects that emphasize my capabilties in XR, Web & Immersive Installations! </p>

<button class="filter-button" data-filter="all">Show All</button>

{% for tag in site.tags %}
<button class="filter-button" data-filter="{{ tag[0] }}">{{ tag[0] }}</button>
{% endfor %}


<div class="items">
    {% for post in site.posts %}
    <div class="column item" data-tags="{{ post.tags | join: ' ' }}">
        <div class="preview-panel">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <img class="post-img" src="{{ post.preview }}" alt="Preview">
                <div class="post-title">
                    <h3>{{ post.title }}</h3>
                </div>
            </a>
            <div class="post-description">{{ post.description }}</div>
        </div>
    </div>
    {% endfor %}
</div>
