<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <main class="wrapper">


    {% include header.html %}

    {% for cat in site.categories %}

    <!-- <h2>{{cat[0]}}</h2> -->

     <!-- sculpture, web, audio, product, immersive -->
    {% endfor %}
    
    
    <div class="container">

      
      {% comment %}
      =======================
      The purpose of this snippet is to list all the tags you have in your site.
      below is not working. 
      =================== ====
      {% endcomment %}

      {% for tag in tags %}
      <a href="#{{ tag | slugify }}"> {{ tag }} </a>
      <p>tags here plz</p>
      {% endfor %}

      {{ content }}

      {% include footer.html %}
    </div>

  </main>

  {% include scripts.html %}

</body>

</html>
